*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: rgb(14, 13, 13);
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card {
    background: white;
    width: min(33.33vw, 350px);
    height: min(44.33vh, 400px);
    border: 5px solid red;
    border-radius: 5%;
    position: absolute;

}

.card:hover{
        border: 5px outset red;
        /* width: min(33vw, 345px);
        height: min(44vh, 395px); */
}


.card h1 {
    font-size: 25px;
    font-weight: bold;
}


.banner {
    background;
    height: 25%;
    margin-top: 0;

    border-radius: 11px 11px 0 0;

    /* background: url("./banner.jpeg"); */
    background-image: linear-gradient(to right, red , yellow);

    /* object-fit: cover; */
    position: relative;

    display: flex;
}

.close {
    display: flex;
    /* margin-left: auto; */
    /* margin-top: 10px;
    margin-left: 10px; */
    text-align: center;
    align-items: center;
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.close p {
    margin: auto;
    font-weight: bold;
}
/* 
.close:hover {
    width: 26px;
    height: 26px;
} */





/* .card:hover + .avatar {
    background:rgb(14, 13, 13);
    background-image: linear-gradient(to right, black , yellow);
    transition: 1s;
} */

.text {
    padding: 15% 5% 5% 5%;
}


.avatar {
    width: 100px;
    height: 100px;
    /* margin: 20px auto 10px;*/
    border-radius: 50%;
    background:rgb(14, 13, 13);

    margin-top: 13%;
    margin-left: auto;
    margin-right: 95px;
}

.avatar:hover{
    background: rgb(177, 17, 17);
    transition: 0.5s;
}

.avatar img {
    height: 100%;
    border-radius: 50%;
    /* object-fit: cover; */
    opacity: 0.7;
    cursor: pointer;
}


@media (max-width: 700px) {
    .card {
        width: min(80vw);
        height: min(70vh);
        border-radius: 10px;
    }

    .card h1 {
        font-size: 16px;
        font-weight: bold;
    }
    .close p {
        font-size: 12px;
    }

    .avatar {
        width: 90px;
        height: 90px;

        margin: auto;
        margin-top: 20%;
        margin-left: 34%;
    }

    .banner {
        border-radius: 4px 4px 0 0;
    }



}