*{
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: rgb(14, 13, 13);
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card {
    background: white;
    width: min(33.33vw, 350px);
    height: min(44.33vh, 400px);
    border: 5px solid #124699;
    border-radius: 5%;
    /* position: absolute; */
}

.card:hover{
        border: 4px solid red;
}

.card h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.imgPerfil {
    width: 100px;
    height: 100px;
    margin: 20px auto 10px;
    border-radius: 50%;
    background:rgb(14, 13, 13);
}

.imgPerfil:hover{
    width: 110px;
    height: 110px;
    margin: 11px auto 9px;
    background: rgb(29, 29, 29);
    transition: 0.1s;
}

.imgPerfil img {
    height: 100%;
    border-radius: 50%;
}